* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


h1#h1 {
    text-align: center;
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 50px 15px gray;
    border-radius: 15px;
    width: 40vw;
    gap: 1rem;



}

#input {
    border: none;
    box-shadow: 5px 5px 50px 15px antiquewhite inset;
    width: 10rem;
    height: 1.5rem;
    border-radius: 1rem;
    padding: 0.5rem;
    font-weight: bolder;
    font-style: italic;
}

button#guess {
    width: 5rem;
    height: 3rem;
    border-radius: 10px;
    background-color: antiquewhite;
    font-weight: bolder;
}

button#guess:hover,
button#again:hover {
    background-color: white;
}

button#guess:active,
button#again:active {
    transform: scale(1.1);
}


#again {
    width: 5rem;
    height: 3rem;
    border-radius: 10px;
    background-color: antiquewhite;
    font-weight: bolder;
}

.para {
    font-size: 1.2rem;
}